<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form class="col s12 m4" id="add_task" method="POST" action="/tasks">
          <input name="title" placeholder="Task..." />
          <button class="btn" type="submit">Add Task</button>
        </form>
        <div class="col s12">
          <ul id="task_list"></ul>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/task.js"></script>
  </body>
</html>
